.page {
    margin: 0 auto;
    font-family: Raleway;
    min-width: 320px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(223, 222, 222, 1);
}

a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}