.work__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #312b2b;
  padding-top: 50px;
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .work__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .work__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .work__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 424px) {
  .work__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}
