.content__gallery {
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fill, minmax(285px, 285px));
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}