.content__gallery {
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
}

@media screen and (max-width: 676px) {
    .content__gallery {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
        column-gap: 0;
    }
}