.video__media {
    opacity: 0;
}

@media screen and (max-width: 1920px) {
    .video__media {
        opacity: 1;
    }
}

@media screen and (max-width: 450px) {
    .video__media {
        opacity: 0;
    }
}