.footer__author {
    padding: 0;
    font-size: 16px;
    margin-top: 20px;
    margin: 0;
    position: absolute;
    left: 202px;
    bottom: 30px;
}

@media screen and (max-width: 1439px) {
    .footer__author {
        left: 150px;
        bottom: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .footer__author {
        left: 100px;
        bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__author {
        font-size: 14px;
        left: 120px;
        bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 424px) {
    .footer__author {
        left: 80px;
    }
}

@media screen and (max-width: 369px) {
    .footer__author {
        left: 55px;
    }
}