.footer__title {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 30px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 2s;
    cursor: pointer;
}

.footer__title:hover {
    background-size: 100% 1px;
    opacity: 0.8;
}

.footer__title:active {
    background-size: 100% 1px;
}

@media screen and (max-width: 1439px) {
    .footer__title {
        font-size: 40px;
        margin: 0 0 20px;
    }
}

@media screen and (max-width: 1279px) {
    .footer__title {
        font-size: 36px;
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 1000px) {
    .footer__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .footer__title {
        font-size: 26px;
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 424px) {
    .footer__title {
        font-size: 20px;
    }
}