.footer {
    background-color: #312B2B;
    color: #fdfdfd;
    padding: 30px 0 74px;
    display: flex;
    position: relative;
}

@media screen and (max-width: 1439px) {
    .footer {
        padding: 25px 0 50px;
    }
}

@media screen and (max-width: 1279px) {
    .footer {
        padding: 20px 0 50px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 15px 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 15px 0 40px;
        flex-direction: column;
    }
}