.content__li-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: white;
}

@media screen and(max-width: 1279px) {
    .content__li-box {
        grid-template-columns: repeat(4, min-content);
    }
}

@media screen and (max-width: 767px) {
    .content__li-box {
        grid-template-columns: repeat(2, min-content);
    }
}

@media screen and (max-width: 610px) {
    .content__li-box {
        grid-template-columns: repeat(1, min-content);
    }
}