.information__soshial {
    display: flex;
    list-style-type: none;
    padding: 30px 0 0;
    margin: 0;
    justify-content: flex-start;
}

@media screen and (max-width: 1439px) {
    .information__soshial {
        padding: 25px 0 0;
    }
}

@media screen and (max-width: 1279px) {
    .information__soshial {
        padding: 20px 0 0;
    }
}

@media screen and (max-width: 1023px) {
    .information__soshial {
        padding: 15px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .information__soshial {
        padding: 10px 0 0;
    }
}