.preloader {
    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 1001;
    color: white;
}

.preloader__item {
    width: 100px;
    height: 100px;
    background-image: url(../../../../../images/preloader.svg);
    animation: preloader-rotate 5s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}