@keyframes arrow-left {
    0% {
        opacity: 0.2;
        transform: rotate(45deg) translate(10px, 5px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(5px, 10px);
    }
}