.menu__body {
    display: grid;
    row-gap: 20px;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 40%;
    height: 55vh;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}